.navbar { 
  height: 40px;
  background-color: rgb(45, 27, 87); 
  color: azure;
  align-items: center;
  border: solid rgb(11, 3, 46) 3px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 110px 110px 110px ;
  margin: 20px;
}

.navbar a:hover {
  color: rgb(0, 0, 0); 
}

.navbar a {
  color: azure;
}