.component {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  justify-content: space-between;
  margin-bottom: 5px;
}

span {
  
  align-content: center;
}

#done-button {
  margin-right: 3px;
  align-self: center;
}
